---
interface Props {
  public_name: string;
}
const { public_name } = Astro.props;
---

<a
  href="https://jiecs-status.betteruptime.com"
  target="_blank"
  rel="noopener"
  data-host={public_name}
  class="group"
>
  <div class="flex items-baseline gap-8 font-code font-bold text-4xl">
    <span class="inline-grid *:[grid-area:1/1] self-center" aria-hidden="true">
      <span
        class="status scale-200 w-4 h-4 hidden
          group-data-[status]:!block
          group-data-[status]:!animate-ping
          group-data-[status=operational]:!status-success
          group-data-[status=downtime]:!status-error
          group-data-[status=maintenance]:!status-info
          group-data-[status=not_monitored]:!status-neutral"
      ></span>
      <span
        class="status status-neutral scale-200 w-4 h-4
          group-data-[status=operational]:!status-success
          group-data-[status=downtime]:!status-error
          group-data-[status=maintenance]:!status-info
          group-data-[status=not_monitored]:!status-neutral"
      ></span>
    </span>
    <span
      class="skeleton skeleton-text uppercase
        group-data-[status=operational]:!text-success/80
        group-data-[status=downtime]:!text-error/80
        group-data-[status=maintenance]:!text-info/80
        group-data-[status=not_monitored]:!text-base-content/80"
    >UPDATING</span>
  </div>
</a>

<script>
  fetch("https://jiecs-status.betteruptime.com/en/index.json")
    .then((r) => r.json())
    .then((json) => {
      document.querySelectorAll("[data-host]").forEach((el) => {
        const host = (el as HTMLElement).dataset.host;
        if (!host) return;
        const res = json.included.find(
          (e: any) =>
            e.type === "status_page_resource" &&
            e.attributes.public_name === host,
        );
        if (!res) return;
        const { status, availability } = res.attributes;
        (el as HTMLElement).dataset.status = status;

        const pct = parseFloat((availability * 100).toFixed(4));
        const labelEl = el.querySelector(".skeleton")!;
        labelEl.classList.remove("skeleton", "skeleton-text");
        labelEl.textContent = `SLA ${pct}%`;
      });
    })
    .catch((e) => console.error("Betteruptime fetch error:", e));
</script>
