---
import type { Post, Repo } from "../types";
import PostCard from "./PostCard.astro";

interface Props {
  items: { post: Post; repo: Repo | null }[];
}

const { items } = Astro.props;
---

<div class="p-12.5 max-md:p-6.5">
  <div class="flex flex-wrap items-start gap-5 xl:gap-10">
    {
      items.map(({ post, repo }) => (
        <div class="w-full sm:w-[calc(50%-0.625rem)] lg:w-[calc(25%-0.9375rem)] xl:w-[calc(25%-1.875rem)]">
          <PostCard post={post} repo={repo} />
        </div>
      ))
    }
  </div>
</div>
