---
import type { Post, Repo } from "../types";
import PostCard from "./PostCard.astro";

interface Props {
  items: { post: Post; repo: Repo | null }[];
}

const { items } = Astro.props;
---

<div class="p-12.5 max-md:p-6.5">
  <div class="columns-1 sm:columns-2 lg:columns-4 gap-5 xl:gap-10">
    {
      items.map(({ post, repo }) => (
        <div class="break-inside-avoid mb-5 xl:mb-10">
          <PostCard post={post} repo={repo} />
        </div>
      ))
    }
  </div>
</div>
